.button{
    background-color: #6299DA;
    color: white;
    text-align: center;
    font-size: 28px;
    width: 363px;
    height: 72px;
    margin: 225px 0px 0px 75px;
    padding: 40px 0 0 0;
    border-radius: 66px;
    box-shadow: 0 0 27px #fff;


}