.input{
    background-color: rgba(0, 0, 0, 0.33);
    color: white;
    text-align: center;
    font-size: 28px;
    width: 363px;
    height: 72px;
    padding: 40px 0 0 0;
    border-radius: 66px;
    box-shadow: 0 0 27px #fff;
    margin-bottom: 0px;
    margin-top: 0px;
    margin-left: 75px;
    &:first-of-type{
        margin-bottom: 22px;
        margin-top: 100px;
    }
    
}


