.home-container {
    padding: 20px;
    width: calc(100% - 40px);
    height: calc(95vh - 40px);
}

my-toolbar {
    width: 100%;
}
my-twitch-card{
    width: 388px;
    display: flex;
    margin-right: 20px;
}
my-twitter-card{
    width: 388px;
    display: flex;
    margin-right: 20px;
    box-shadow: 10px 10px 10px #fff;
}

my-youtube-player{
    width: 388px;
    display: flex;
    margin-right: 20px;
}

my-map {
    width: 388px;
    display: flex;
    margin-right: 20px;
}

.flex{
    display: inline-flex;
}

