.login {
    color: yellow;
}

h1 {
    background-color: #423ebf;
}

h1 {
    color: #fff;
    font-size: 25px;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
    text-shadow: 0 0 10px black;
}