.youtube {
    width: 84%;
    left: 32px;
    height: 319px;
    max-width: 556px;
    background-color: #d6d6d6;
    border: solid 1px #555454;
    border-radius: 70px;
    padding: 39px;
    position: relative;
    border-bottom-width: 8px;
}

my-textinput {
    margin-top: 10px;
    margin-bottom: 20px;
    display: block;
}