my-textinput {
    margin: 15px;
    display: block;
}

.login-container {
    display: block;
    padding: 40px;
    margin-top: 21vh;
    height: 250px;
    width: 520px;
    background-image: linear-gradient(to top, rgb(0, 0, 0), #fff, #000);
    margin: 21vh auto;
    border-radius: 30px;
    box-shadow: 10px 10px 20px #000;
}

my-button {
    margin-top: 30px;
    display: block;
}
.error {
    background: #ff0000;
    border-radius: 30px;
}
