.map {
    width: 100%;
    max-width: 520px;
    height: 927px;
    background-image: linear-gradient(to top, rgb(0, 0, 0), #fff, #000);
    border: solid 1px rgb(85, 84, 84);
    border-radius: 35px;
    padding: 20px;
    position: relative;
    box-shadow: 10px 10px 10px rgb(105, 105, 105);
}

